.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }
  
  .u-section-1 .u-list-1 {
    grid-template-rows: auto;
    width: 1210px;
    margin: 15px -35px;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 784px;
    grid-gap: 20px 20px;
  }
  
  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-image-1 {
    filter: brightness(0.8);
    height: 310px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 15px 30px 0;
  }
  
  .u-section-1 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-image-2 {
    filter: brightness(0.8);
    height: 310px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 15px 30px 0;
  }
  
  .u-section-1 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-image-3 {
    filter: brightness(0.8);
    height: 310px;
    object-position: 39.07% 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 15px 30px 0;
  }
  
  .u-section-1 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-image-4 {
    filter: brightness(0.8);
    height: 310px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 15px 30px 0;
  }
  
  .u-section-1 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-image-5 {
    filter: brightness(0.8);
    height: 310px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 15px 30px 0;
  }
  
  .u-section-1 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 0 0 23px;
  }
  
  .u-section-1 .u-image-6 {
    filter: brightness(0.8);
    height: 310px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 15px 30px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-list-1 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
      min-height: 608px;
    }
  
    .u-section-1 .u-image-1 {
      height: 253px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-2 {
      height: 253px;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-3 {
      height: 253px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-4 {
      height: 253px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-5 {
      height: 253px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-6 {
      height: 253px;
    }
  
    .u-section-1 .u-text-6 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-list-1 {
      width: 720px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 9.999975px));
      min-height: 1069px;
    }
  
    .u-section-1 .u-image-1 {
      height: 291px;
    }
  
    .u-section-1 .u-image-2 {
      height: 291px;
    }
  
    .u-section-1 .u-image-3 {
      height: 291px;
    }
  
    .u-section-1 .u-image-4 {
      height: 291px;
    }
  
    .u-section-1 .u-image-5 {
      height: 291px;
    }
  
    .u-section-1 .u-image-6 {
      height: 291px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-list-1 {
      width: 540px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-1 .u-image-1 {
      height: 437px;
    }
  
    .u-section-1 .u-image-2 {
      height: 437px;
    }
  
    .u-section-1 .u-image-3 {
      height: 437px;
    }
  
    .u-section-1 .u-image-4 {
      height: 437px;
    }
  
    .u-section-1 .u-image-5 {
      height: 437px;
    }
  
    .u-section-1 .u-image-6 {
      height: 437px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-list-1 {
      width: 340px;
    }
  
    .u-section-1 .u-image-1 {
      height: 275px;
    }
  
    .u-section-1 .u-image-2 {
      height: 275px;
    }
  
    .u-section-1 .u-image-3 {
      height: 275px;
    }
  
    .u-section-1 .u-image-4 {
      height: 275px;
    }
  
    .u-section-1 .u-image-5 {
      height: 275px;
    }
  
    .u-section-1 .u-image-6 {
      height: 275px;
    }
  }