.u-section-1 .u-sheet-1 {
    min-height: 533px;
  }
  
  .u-section-1 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 533px;
    grid-gap: 0px 0px;
    grid-auto-columns: 25%;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-1 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-2 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-2 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-4 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-3 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-6 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-4 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-8 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-5 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-10 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-11 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-6 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-12 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-13 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-7 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-13 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-14 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-container-layout-15 {
    padding: 30px 30px 24px;
  }
  
  .u-section-1 .u-group-8 {
    width: 149px;
    min-height: 149px;
    background-image: linear-gradient(#73a3de, #4c637f);
    text-shadow: 0px 0px 0 rgba(0,0,0,0);
    height: auto;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: 14px auto 0;
  }
  
  .u-section-1 .u-text-15 {
    font-size: 1.875rem;
    font-weight: 600;
    transition-duration: 0.5s;
    text-shadow: 2px 0 0 rgba(0,0,0,0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    width: 75px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-16 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 30px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(4, 25%);
      min-height: 439px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      min-height: 1345px;
      grid-auto-columns: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: 100%;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-11 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-13 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-15 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-9 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-11 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-13 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-15 {
      font-size: 1.5rem;
    }
  }
  
  .u-section-1 .u-text-7,
  .u-section-1 .u-text-7:before,
  .u-section-1 .u-text-7 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-7.u-text-7.u-text-7:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-7 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-7.u-text-7.u-text-7.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-7 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-7 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-7 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-7 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-7 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-1,
  .u-section-1 .u-text-1:before,
  .u-section-1 .u-text-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-1.u-text-1.u-text-1:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-1 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-1.u-text-1.u-text-1.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-1 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-1 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-1 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-1 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-1 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-3,
  .u-section-1 .u-text-3:before,
  .u-section-1 .u-text-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-3.u-text-3.u-text-3:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-3 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-3.u-text-3.u-text-3.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-3 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-3 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-3 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-3 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-3 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-5,
  .u-section-1 .u-text-5:before,
  .u-section-1 .u-text-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-5.u-text-5.u-text-5:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-5 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-5.u-text-5.u-text-5.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-5 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-5 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-5 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-5 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-5 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-9,
  .u-section-1 .u-text-9:before,
  .u-section-1 .u-text-9 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-9.u-text-9.u-text-9:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-9 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-9.u-text-9.u-text-9.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-9 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-9 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-9 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-9 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-9 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-11,
  .u-section-1 .u-text-11:before,
  .u-section-1 .u-text-11 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-11.u-text-11.u-text-11:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-11 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-11.u-text-11.u-text-11.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-11 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-11 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-11 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-11 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-11 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-13,
  .u-section-1 .u-text-13:before,
  .u-section-1 .u-text-13 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-13.u-text-13.u-text-13:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-13 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-13.u-text-13.u-text-13.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-13 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-13 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-13 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-13 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-13 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-15,
  .u-section-1 .u-text-15:before,
  .u-section-1 .u-text-15 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-1 .u-text-15.u-text-15.u-text-15:hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-15 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-text-15.u-text-15.u-text-15.hover {
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #ffffff !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
  
  .u-section-1 .u-text-15 {
    border-color: transparent !important;
  }
  
  .u-section-1 .u-container-layout:hover .u-text-15 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-15 {
    border-color: transparent !important;
  }
  
  .u-container-layout.hover .u-section-1 .u-text-15 {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
    box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
    text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  }
  
  .u-section-1 .u-text-15 {
    border-color: transparent !important;
  }