{% extends "core/base.html" %} 
{% load static %}
  {% block title %}<title>Contact</title> {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "core/css/Contact.css" %}" media="screen">
{% endblock css %}
{% block body %}
 <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
{% endblock body %}
{% block section %}
<section class="u-clearfix u-white u-section-1" id="carousel_2f19">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-shape u-shape-svg u-text-black u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-988f"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-988f" style="enable-background:new 0 0 160 160;"><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
  s80-35.8,80-80S124.2,0,80,0L80,0z"></path></svg>
      </div>
      <div class="u-border-20 u-border-black u-expanded-width-xs u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="736" data-image-height="679" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
      </div>
      <div class="data-layout-selected u-clearfix u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-black u-container-style u-layout-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-black u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-1">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                        <h5 class="u-align-left u-text u-text-white u-text-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="{% static "core/img/597177-39fea02a.png" %}" alt=""></span>&nbsp;Call Us
                        </h5>
                        <p class="u-align-left u-text u-text-2">1 (234) 567-891, 1 (234) 987-654</p>
                      </div>
                    </div>
                    <div class="u-black u-container-style u-list-item u-repeater-item u-list-item-2">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <h5 class="u-align-left u-text u-text-white u-text-3"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="{% static "core/img/3177361-cd9ee2c6.png" %}" alt=""></span>&nbsp;Location
                        </h5>
                        <p class="u-align-left u-text u-text-4">121 Rock Sreet, 21 Avenue, New York, NY 92103-9000</p>
                      </div>
                    </div>
                    <div class="u-black u-container-align-left u-container-style u-list-item u-repeater-item u-list-item-3">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <h5 class="u-align-left u-text u-text-white u-text-5"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="{% static "core/img/447114-f6e8f45b.png" %}" alt=""></span>&nbsp;Business Hours
                        </h5>
                        <p class="u-align-left u-text u-text-6">Mon – Fri …… 10 am – 8 pm, Sat, Sun ....… Closed</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-valign-middle u-container-layout-5">
                <h2 class="u-align-center u-text u-text-default u-text-7">Contact Us</h2>
                <div class="u-align-left u-expanded-width u-form u-form-1">
                  <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                    <div class="u-form-group u-form-name">
                      <label for="name-5a14" class="u-form-control-hidden u-label">Name</label>
                      <input type="text" placeholder="Enter your Name" id="name-5a14" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="" wfd-id="id513">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-5a14" class="u-form-control-hidden u-label">Email</label>
                      <input type="email" placeholder="Enter a valid email address" id="email-5a14" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="" wfd-id="id514">
                    </div>
                    <div class="u-form-group u-form-message">
                      <label for="message-5a14" class="u-form-control-hidden u-label">Message</label>
                      <textarea placeholder="" rows="4" cols="50" id="message-5a14" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required=""></textarea>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="#" class="u-active-palette-1-base u-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-base u-radius-50 u-btn-1">Submit</a>
                      <input type="submit" value="submit" class="u-form-control-hidden" wfd-id="id515">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse" wfd-id="id516">
                    <input type="hidden" name="formServices" value="00c9b29f-bb29-72d9-4934-fde9f2c66eb7">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-black u-shape u-shape-circle u-shape-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
    </div>
  </section>
{% endblock section %}