{% extends "core/base.html" %}
{% load static %}
{% block title %}<title>Skills</title>{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static "edu/css/Skill.css" %}" media="screen">  {% endblock css %}
{% block body %}
 <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
{% endblock body %}
{% block section %}
 <section class="u-black u-clearfix u-lightbox u-section-1" id="sec-3137">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">97%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-2"> HTML5 &amp; CSS3</h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">95%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-4">Web design</h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">90%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-6">Java</h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-7">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">95%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-8">Python</h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-9">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-9" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">85%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-10">javascript </h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-11">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-11" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">99%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-12">C </h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-13">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-13" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">93% </h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-14">R </h5>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-container-layout-15">
              <div class="u-container-style u-gradient u-group u-shape-circle u-group-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle">
                  <h3 class="u-align-center u-hover-feature u-hover-palette-2-base u-text u-text-15" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">95%</h3>
                </div>
              </div>
              <h5 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-16">Linux </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    
    
  </section>
{% endblock section %}
  <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
background-color: #ffffff !important
}</style>